body {
  @apply min-h-screen md:grid place-items-center md:p-4;
}

.multi-step-form {
  @apply flex flex-col 
    justify-between min-h-screen 
    tracking-normal;
  @media (width >= 48rem /* 768px */) {
    @apply grid grid-cols-[auto_1fr] grid-rows-[1fr_auto] 
    p-4 rounded-2xl
    min-h-0;
    background-color: hsl(var(--white));
  }
}
