@import "tailwindcss";

.add-on {
  @apply flex justify-between gap-4 items-center 
  p-4 outline rounded-lg 
  cursor-pointer;
  &,
  .add-on__icon {
    outline-color: hsl(var(--grey-500));
  }
  &:has(.add-on__input:checked) {
    @apply outline-2;
    outline-color: hsl(var(--purple-600));
    background-color: hsl(var(--background) / 0.4);
  }
  .add-on__input {
    @apply sr-only;
    &:checked + .add-on__icon {
      background-color: hsl(var(--purple-600));
      outline-color: hsl(var(--purple-600));
    }
  }
  .add-on__icon {
    @apply outline 
    flex items-center 
    px-1 aspect-square rounded-md;
  }
}
